USE [master]
GO
/****** Object:  Database [signalRClients]    Script Date: 7/3/2018 1:46:01 PM ******/
CREATE DATABASE [signalRClients]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'signalRClients', FILENAME = N'D:\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\signalRClients.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'signalRClients_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\signalRClients_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [signalRClients].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [signalRClients]
GO
USE [signalRClients]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 7/3/2018 1:46:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientPK] [int] IDENTITY(1,1) NOT NULL,
	[ConnectionId] [varchar](250) NOT NULL,
	[Nickname] [varchar](25) NULL,
	[GroupFK] [int] NULL,
	[UserAgent] [varchar](max) NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[ClientPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 7/3/2018 1:46:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[GroupPK] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [varchar](50) NOT NULL,
	[TimeCreated] [datetime] NOT NULL,
	[IsPrivate] [bit] NOT NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[GroupPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Groups] ADD  CONSTRAINT [DF_Groups_TimeCreated]  DEFAULT (getdate()) FOR [TimeCreated]
GO
ALTER TABLE [dbo].[Groups] ADD  CONSTRAINT [DF_Groups_IsPrivate]  DEFAULT ((1)) FOR [IsPrivate]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Clients_Groups] FOREIGN KEY([GroupFK])
REFERENCES [dbo].[Groups] ([GroupPK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Clients_Groups]
GO
USE [master]
GO
